body{
    background-color: hsl(180, 90%, 40%);
}
.corazon {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
    position: relative;
    transform: rotate(-45deg);
    background-color: red;
    transition: all .5s;
    animation-name: latido;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

@keyframes latido{
    100% {
        transform: scale(1.5, 1.5) rotate(-45deg);
    }
}

.corazon::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 50%;
    transform: translateX(50%);
}

.corazon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-50%);
}
